Package: com.popsicletreehouse.fivepercentalert
Name: FivePercentAlert
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Show low power alert at whatever battery level you want
Maintainer: PopsicleTreehouse
Author: PopsicleTreehouse
Section: Tweaks
