<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>When Alert Shows</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.popsicletreehouse.fivepercentalertprefs</string>
			<key>label</key>
			<string>Enable Tweak</string>
			<key>key</key>
			<string>isEnabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>cellClass</key>
			<string>CSPValueCell</string>
			<key>defaults</key>
			<string>com.popsicletreehouse.fivepercentalertprefs</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>isDecimalPad</key>
			<true/>
			<key>key</key>
			<string>whenAlertShows</string>
			<key>label</key>
			<string>Battery when alert is shown</string>
			<key>placeHolder</key>
			<string>5</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		</array>
	<key>title</key>
	<string>Five Percent Alert</string>
</dict>
</plist>
