<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>When Alert Shows</string>
			<key>footerText</key>
			<string>Set your preferred battery percentage at which the alert will be shown.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.popsicletreehouse.fivepercentalertprefs</string>
			<key>label</key>
			<string>Enable tweak</string>
			<key>key</key>
			<string>isEnabledf</string>
			<key>PostNotification</key>
			<string>com.popsicletreehouse.fivepercentalert.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.popsicletreehouse.fivepercentalertprefs</string>
			<key>label</key>
			<string>Show as notification</string>
			<key>key</key>
			<string>showAsNotiff</string>
			<key>PostNotification</key>
			<string>com.popsicletreehouse.fivepercentalert.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>cellClass</key>
			<string>CSPValueCell</string>
			<key>defaults</key>
			<string>com.popsicletreehouse.fivepercentalertprefs</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>isDecimalPad</key>
			<true/>
			<key>key</key>
			<string>whenAlertShowsf</string>
			<key>label</key>
			<string>Battery percentage</string>
			<key>default</key>
			<string>5</string>
			<key>placeHolder</key>
			<string>5</string>
			<key>PostNotification</key>
			<string>com.popsicletreehouse.fivepercentalert.prefschanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>Five Percent Alert</string>
</dict>
</plist>
